<a href="https://colab.research.google.com/github/NaviDSX/EPAS6/blob/main/EPAi3_0_S6_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from datetime import datetime
print(datetime.now())

2021-06-11 20:22:04.911155

In [5]:
import random

def dt_of_bth():
  mnth = list(range(1,13))
  mnth_id = 'Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec'.split(' ')
  mnth = dict(zip(mnth,mnth_id))

  mnths = random.randint(1,12)
  year = random.randint(1901,2020)
  if mnths in [1,3,5,7,8,10,12]:
    dt = random.randint(1,31)
  elif mnths in [4,6,9,11]:
    dt = random.randint(1,30)
  else:
    if year%4==0:
      dt = random.randint(1,29)
    else:
      dt = random.randint(1,28)

  if    dt in (1,21,31):  dt = str(dt)+'st'
  elif  dt in (2,22):     dt = str(dt)+'nd'
  elif  dt in (3,23):     dt = str(dt)+'rd'
  else:                   dt = str(dt)+'th'

  result = mnth[mnths]+', '+dt+', '+str(year)+'.'

  return result  

[dt_of_bth() for i in range(26)]

['Jun, 24th, 2004.',
 'Dec, 14th, 1972.',
 'Feb, 1st, 1945.',
 'Jul, 1st, 1974.',
 'Oct, 2nd, 1975.',
 'Feb, 24th, 1945.',
 'Mar, 24th, 1921.',
 'Sep, 14th, 2001.',
 'Mar, 27th, 1979.',
 'Sep, 28th, 1998.',
 'May, 14th, 1945.',
 'Jan, 2nd, 1992.',
 'Oct, 23rd, 1904.',
 'Nov, 10th, 1984.',
 'Oct, 13th, 1978.',
 'Mar, 22nd, 1992.',
 'Feb, 15th, 1954.',
 'Jul, 25th, 1935.',
 'Oct, 30th, 1969.',
 'May, 25th, 2007.',
 'Dec, 31st, 1963.',
 'Aug, 31st, 1953.',
 'Nov, 17th, 1923.',
 'Nov, 25th, 1970.',
 'Oct, 29th, 1999.',
 'Apr, 27th, 1961.']

In [6]:
from datetime import datetime
print(datetime.now())

2021-06-11 20:38:30.955135